<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <link rel=stylesheet type=text/css href="{% static 'finder_server/css/image_style.css' %}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form class="form" method="post" action="{% url 'report' %} ">
    {% csrf_token %}
    <input type="submit" value="go to see the report">
</form>
<table cellspacing="0" border="1" style="width:100%">
<caption>images we received from your phone</caption>
    <tr>
        <th>username</th>
        <th>timestamp</th>
        <th>device_name</th>
        <th>image</th>

    </tr>

    {% for t in images %}
        <tr>
        <td>{{ username }}</td>
        <td>{{ t.timestamp }}</td>
        <td>{{ t.device_name }}</td>
        <td><img class="image" src="{{ t.url }}" alt="{{ image }}" width="40"/><td>

        </tr>
    {% endfor %}



</table>
</body>
</html>