<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table cellspacing="0">
    <tr>
        <th>username</th>
        <th>timestamp</th>
        <th>device_name</th>
        <th>image</th>

    </tr>

    {% for t in images %}
        <tr>
        <td>{{ username }}</td>
        <td>{{ t.timestamp }}</td>
        <td>{{ t.device_name }}</td>
        <td>{<img class="image" src="{{ t.url }}" alt="{{ image }}"/>}<td>

        </tr>
    {% endfor %}



</table>
</body>
</html>