<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form class="form" method="post" enctype="multipart/form-data" action="{% url 'image_upload' %}">
    {% csrf_token %}
    <input type="text" name="username" required placeholder="username"
           value="">
    <input type="text" name="timestamp" required placeholder="Timestamp"
           value="">
    <input type="text" name="device_name" required placeholder="device_name">
    <input type="file" name="image" required placeholder="image" >

    <button type="submit" id="login-button">upload</button>
    <br>
</form>

</body>
</html>