<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
login
<form class="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" required placeholder="Username"
           value="">
    <input type="password" name="password" required placeholder="Password">

    <button type="submit" id="login-button">Login</button>
    <br>
</form>
<a href="{% url 'signup' %}">
    <button type="button" id="signup-button">SignUp</button>
</a>
</body>
</html>