<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="/static/css/signup.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p class="texto">Register</p>

    <div class="Register">

        <form class="form" id="signup_form" method="post" action="{% url 'signup' %} " >

            <span class="fontawesome-user"></span><input type="text" required placeholder="username" name="username"
                                                         id="username" autocomplete="off"
                                                         value="">

            <span class="fontawesome-lock"></span><input type="password" id="pass1" name="password" id="password"
                                                         required
                                                         placeholder="password" autocomplete="off">
            <span class="fontawesome-lock"></span><input type="password" id="pass2" name="repeat password" required
                                                         autocomplete="off"
                                                         placeholder="confirm password">

            <input type="submit" value="Signup">

            <a href="{% url 'login' %}"><input class="cancel" type="button" value="Cancel"> </a>


        </form>
    </div>
</body>
</html>